@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: black;
}

.card-bg {
    background: linear-gradient(88.77deg, rgba(63, 63, 63, 0.2) 1.05%, rgba(101, 101, 101, 0.2) 98.78%);
}

.featured-bg {
    background-image: url('../../public/bg1.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-bg {
    width: 1000px;
    position: absolute;
    top: -318px;
    z-index: -3;
}

.community-card {
    background-image: url('../../public/community.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 465px;
}

.sign-up-1 {
    background-image: url('../../public/signup2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 781px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.sign-up-content {
    background: #000503;
    border-radius: 50px;
}